libcube=2.0.0-SNAPSHOT#full
# Extra
chat=1.0.1-SNAPSHOT
chopchop=1.3.0-SNAPSHOT
elevator=1.1.0-SNAPSHOT
itemduct=1.2.0-SNAPSHOT
kits=1.1.0-SNAPSHOT
powertools=1.1.0-SNAPSHOT
spawn=1.1.0-SNAPSHOT
spawner=1.0.1-SNAPSHOT
squelch=1.0.0-SNAPSHOT
tablist=1.0.0-SNAPSHOT
writer=1.0.0-SNAPSHOT
terra=1.2.0-SNAPSHOT
observe=1.1.0-SNAPSHOT#full
mechanism=1.0.0-SNAPSHOT
bigdata=1.2.0-SNAPSHOT#full
vigil=1.2.0-SNAPSHOT
#vote=1.1.0-SNAPSHOT
headvillager=1.0.0-SNAPSHOT
discord=1.0.0-SNAPSHOT#full
traders=1.0.0-SNAPSHOT
# Main
kickban=1.1.0-SNAPSHOT
locker=1.1.0-SNAPSHOT
portals=1.1.0-SNAPSHOT
roles=1.1.0-SNAPSHOT
teleport=1.1.0-SNAPSHOT
travel=1.1.0-SNAPSHOT
zoned=1.1.0-SNAPSHOT
vanillaplus=1.1.0-SNAPSHOT
protector=1.2.0-SNAPSHOT

docs=1.1.0-SNAPSHOT
